.App {
  display: flex;
  /* Making room for the fixed footer */
  padding-bottom: 60px;
}

.App > *:nth-child(1) {
  flex: 0 0 auto;
  width: 1020px;
  padding: 0 40px;
}

.App > *:nth-child(2) {
  flex: 1 0 auto;
}

.Footer-Container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: #eee;
  padding: 10px 0;
}

.Footer {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}
